torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128
gpytorch==1.14
botorch==0.14.0
numpy==2.1.2
scipy==1.15.3
scikit-learn==1.6.1
pandas==2.2.3
openpyxl==3.1.5
tqdm==4.67.1
joblib==1.5.1
