# Python
**/__pycache__/
**/*.egg-info/


# Environment
.venv*/
.env

# Debug
**/.pytest_cache/
playground/*
!playground/prompts/

# Tracking
swanlog/

# Experiment result
swanlog/
slurm-*.out

# OS specific
.DS_Store

